.card {
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 5px;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
}

.btn-primary {
  background: #D9D9D9;

}
/* .parent-container {
  /* display: flex; */
  

 
.carousel {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

body {
  background-color: #EDEDED;
}
.btn-primary {
  background-color: grey;
}
